

.community_header{
    height: 300px;
    position:relative;
    -o-box-shadow: 0 0 10px #CCC;
    box-shadow: 0 0 10px #CCC;
    -moz-box-shadow: 0 0 10px #CCC;
    -webkit-box-shadow: 0 0 10px #CCC;
}

.community_header_left{
    position:absolute;
    left:10px;
    top:10px;
}

.community_header_content{
    margin-left:290px;
    padding:10px;
}

.member_item{
    width:140px;
    float: left;
    height:160px;
    margin-left: 10px;
}

.community_member{
    -o-box-shadow: 0 0 10px #CCC;
    box-shadow: 0 0 10px #CCC;
    -moz-box-shadow: 0 0 10px #CCC;
    -webkit-box-shadow: 0 0 10px #CCC;
    padding:10px;
    margin-top:10px;
}

/*** FORMAT ITEM ITEM **/
.item_item{
    float: left;
    width:20%;
    position:relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    padding:3px;
}

.item_item_inner{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    position:relative;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	overflow:hidden;
}
.item_item_avatar{
    
}

.item_item_avatar img{
    max-width: 100%;
}

.item_item_info{
    position:absolute;
    bottom:0px;
    left:0px;
    height:60px;
    background-color:rgba(0,0,0,0.5);
    display: block;
    width:100%; 
}
.item_item_title{
    margin-top:10px;
    font-weight: bold;
}

.item_item_title a {
    color: #fff;
    font-size: 15px;
    padding-left: 10px;
}

.item_item_location{
    padding-left:10px;
    color:#EEE;
}

.item_item_avatar div{
	box-shadow: 0 0 10px #666 inset;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.bt_suggestion_image{
    position: absolute;
    right: 20px;
    bottom: 10px;
}